#history-text {
    /* background: white; */
    position: relative;
    top: 10px;
    right: 10px;
    bottom: 40px;
    height: 500px;
    border: 3px solid transparent;
    padding: 15px;
    border-color: black 
}