body {
	  background-color: #434E52;
}

nav {
    background-color: #5B8C85;
}

p {
  color:#ffffff;
}




.box {
  min-height: 500px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #4d4d4d;
}

.boxSmall {
  min-height: 200px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #4d4d4d;
}

.bluegreen {
  background:#5B8C85;
}

.white {
  background: #ffffff;
}

.lightGray {
  background: #f0f0f0;
}


.table {
   margin: auto;
   width: 50% !important; 
  border: 1px solid black;
}

.activeCell {
  border: 3px solid blue;
}

.inactiveImg {
  opacity: 0.25
}

h6 {
  text-align: center;
}