body {
	  background-color: #434E52;
}

nav {
    background-color: #5B8C85;
}

p {
  color:#ffffff;
}

td {
  text-align: center;   
}

th {
  text-align: center;   
}

.box {
  min-height: 500px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #4d4d4d;
}

.boxSmall {
  min-height: 200px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #4d4d4d;
}

.bluegreen {
  background:#5B8C85;
}

.white {
  background: #ffffff;
}

.lightGray {
  background: #f0f0f0;
}

.activeCell {
  border: 3px solid blue;
}

.inactiveImg {
  opacity: 0.25
}

h6 {
  text-align: center;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#history-text {
  /* background: white; */
  position: relative;
  top: 10px;
  right: 10px;
  bottom: 50px;
  border: 3px solid transparent;
  padding: 15px;
  border-color: black 
}

.titlebox{
  text-align: center;
  margin-top: 2%;
}
.axisText {
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}