<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <title>Brew-Venturing/</title>
    <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <h3 id="imap">Brew-Venturing/Home</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/history">History</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/imap">Brewery Map</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dtable">Data Table</a>
        </li>

      </ul>

     </div>
    </nav>

	<div class = "container-float">
<br>

    <div class="row">
			<div class = "col-md-12">
		        <div >
		        	  <img src="../static/img/kegs.jpg" alt="kegsofgoodness"style="width:1100px;height:200px;">
		        </div>
			</div>	
	  </div>


    <div class="row">
      <div class = "col-md-12">
            <div >
                <p> <h5 style="color:#ffffff">North Carolina has become home to nearly 300 breweries over the last 30 years, leading the American south.  Styles of beer from Ales to Witbier can be found in: microbrewries, brewpubs,taprooms, and regional breweries around the state.  </h5></p>
                
                <p><h5 style="color: #ffffff">Brew Venturing is designed to help beer lovers explore North Carolina brewery growth. We have the following tools available to help tell that story
                </h5></p>
            </div>
      </div>  
    </div>

    <div class="row">

      <div class = "col-md-4">
        <a href="/history">
            <h6 style="color:#C0C0C0"> Data Dashboard </h6>
            <img src="../static/img/tmpHistSnpSht.jfif" alt="history dashboard"style="width:100%;height:175px;">
          </a>

      </div>
        <a href="/imap">
            <div class = "col-md-4">
              <h6 style="color:#C0C0C0"> Brwery Map</h6>
              <img src="../static/img/imapscreenshot.jpg" alt="i map"style="width:100%;">
        </a> 

      </div>
        <a href="dtable">
            <div class = "col-md-4">
              <h6 style="color:#C0C0C0"> Data Table</h6>
              <img src="../static/img/tmpDtblSnpSht.jfif" alt="data table"style="width:100%;">
        </a>
      </div>  

    </div>
	</div>
</body>